<ul class="list-group">
  {% if request.user.is_authenticated %}
    <li class="list-group-item">
      <a href="{% url 'task_manager:worker-detail' pk=request.user.pk %}" class="text-decoration-none">Account</a>
    </li>
  {% endif %}
  <li class="list-group-item">
    <a href="{% url 'task_manager:index' %}" class="text-decoration-none">Tasks</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'task_manager:project-list' %}" class="text-decoration-none">Projects</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'task_manager:team-list' %}" class="text-decoration-none">Teams</a>
  </li>
</ul>
