{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>{% if object %}Edit Task{% else %}Create Task{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.deadline|as_crispy_field }}
    {{ form.is_completed|as_crispy_field }}
    {{ form.priority|as_crispy_field }}

    {{ form.type|as_crispy_field }}
    <a href="{% url 'task_manager:tasktype-create' %}" class="btn btn-link">+ Create new task type</a>
    {% if request.resolver_match.view_name == "task_manager:project-task-create" %}
      {{ form.assignees|as_crispy_field }}
      {{ form.tags|as_crispy_field }}
      <a href="{% url 'task_manager:tag-create' %}" class="btn btn-link">+ Create new tag</a>
      <br>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
