{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {{ object|yesno:"Update Team,Create Team" }}
  <form method="post">
    {% csrf_token %}
    {{ form.name|as_crispy_field  }}
    {% if team %}
      {{ form.admins|as_crispy_field  }}
    {% else %}
      <p>Note that now {{ request.user.username }} will be the admin of this team. You can add more admins later.</p>
      <p class="text text-danger">This will change user's team</p>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'task_manager:team-list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
